.container{
    width: 900px;
    margin-top:5px;
}
.panel-default{
    margin: 0 5px 0 5px;
}
.panel-heading{
    margin-top:5px;
}
.row-border {
    position: relative;
    margin-top: 5px;
    background-color: #fff;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 2px #ccd0d9;
}