<div class="row" [@moveInLeft]="state">
  <h3 class="text-center">Выберите ОСББ</h3>
  <div *ngFor="let item of osbb" class="col-xs-12 col-sm-6 col-md-3" [@fallIn]="state">
    <div class="thumbnail">
      <div class="caption">
        <h4>{{item.name}}</h4>
        <p>{{item.street}}</p>
        <p><a [routerLink]="['/create-user',item.id]" class="btn btn-success" role="button">Подключится</a></p>
      </div>
    </div>
  </div>
</div>
<div class="create-chief" [@moveInLeft]="state">
  <button type="button" class="btn btn-primary" [routerLink]="['/create-chief']">Создать ОСББ</button>
</div>