<div class="row">
    <div class="btn-group pull-left selected" role="group" *ngIf="role == mainRole">
        <button type="button" class="btn btn-default" [routerLink]="[ '/create-news']">Cоздать новость</button>
    </div>
    <div class="btn-group pull-right selected" role="group">
        <button type="button" class="btn btn-default" [class.btn-success]="term == 'all'" (click)="sorting('all')">Все</button>
        <button type="button" class="btn btn-default" [class.btn-success]="term == 'news'" (click)="sorting('news')">За 24 часа</button>
    </div>
</div>
<div class="row">
    <div *ngIf="news?.length === 0" class="text-center">Новости не найдены.</div>
    <div class="well" *ngFor="let item of pagedItems">
        <div class="media">
            <div class="media-body ">
                <h4 class="media-heading">{{item.title}}</h4>
                <p [loadNames]="item.user_id" class="pull-right name"></p>
                <ul class="list-inline list-unstyled">
                    <li><span><i class="glyphicon glyphicon-calendar"></i> {{item.created_at | amCalendar}} </span></li>
                    <li>|</li>
                    <li><span><a [routerLink]="[ '/newsfeed', item.id ]">Читать</a></span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(1)">Первая</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(pager.currentPage - 1)">Пред</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.currentPage + 1)">След</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.totalPages)">Последняя</a>
                </li>
            </ul>
    </div>
    
</div>