<div [@moveInLeft]="state">
    <h1>{{title}}</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit molestias reprehenderit iusto, obcaecati sint cum quasi! Sapiente ab dolore in qui accusamus aliquam pariatur. Magnam ipsa harum, optio nobis delectus!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit molestias reprehenderit iusto, obcaecati sint cum quasi! Sapiente ab dolore in qui accusamus aliquam pariatur. Magnam ipsa harum, optio nobis delectus!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit molestias reprehenderit iusto, obcaecati sint cum quasi! Sapiente ab dolore in qui accusamus aliquam pariatur. Magnam ipsa harum, optio nobis delectus!</p>
</div>