input.ng-touched.ng-invalid {
	border:solid red 2px;
}
input.ng-touched.ng-valid {
	border:solid green 2px;
}
.alert{
	margin: 5px;
	padding:5px 5px 5px 15px; 
}
.input-group-addon:hover{
	background-color: #E6E6E6; 
}
.form-street{
	margin-bottom:-15px;
}
.street {
	margin-top:-5px;
}
