input.ng-touched.ng-invalid {
	border:solid red 2px;
}
input.ng-touched.ng-valid {
	border:solid green 2px;
}
.alert{
	margin: 5px;
	padding:5px 5px 5px 15px; 
}
.input-group-addon:hover{
	background-color: #E6E6E6; 
}
.form-street{
	margin-bottom:-15px;
}
.street {
	margin-top:-5px;
}
.container{
	width: 900px;
}
.row-border {
    position: relative;
    margin-top: 25px;
    background-color: #fff;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 2px #ccd0d9;
}