<div class="">
  <nav class="">
    <li routerLinkActive="active"><a [routerLink]="['/newsfeed']">Новости</a></li>
    <li routerLinkActive="active" *ngIf="role == mainRole" ><a [routerLink]="['/users']">Новые учасники</a></li>
    <li routerLinkActive="active"><a href="#">Messages</a></li>
    <li routerLinkActive="active" *ngIf="role == mainRole"><a [routerLink]="['/create-news']">Создать новость</a></li>
    <li routerLinkActive="active"><a [routerLink]="[ '/votes']">Голосования</a></li>
  </nav>
</div>