<div>
  <nav>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/']">Новости</a></li>
    <li routerLinkActive="active"><a [routerLink]="[ '/votes']">Голосования</a></li>
    <li routerLinkActive="active"><a [routerLink]="[ '/messages']">Cообщения</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/users']">Жители</a></li>    
    <li routerLinkActive="active" class="navbar-right"><a [routerLink]="[ '/profile']">Профиль</a></li>    
  </nav>
</div>