a {
    font-family: 'Merriweather', serif;
    color: #586069;
    text-decoration: none;
}

div {
    border-bottom: solid 1px #d1d5da;
}

nav {
    height: 50px;
    li {
        display: inline-block;
        padding-right: 20px;
        padding-top: 15px;
        padding-left: 20px;
        padding-bottom: 15px;
        font-size: 14px;
        color: #586069;
        vertical-align: middle;
        border-bottom: 2px solid transparent;
    }
   .navbar-right{
        float: right;
        margin-right: 0px;
   }
    .active {
        border-bottom-color: #e36209;
    }
}

a:hover {
    color: #24292e;
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}
