<div class="comment">
    <div class="comment-body">
        <div class="comment-heading">
            <h4 class="user" [loadNames]="comment.user_id"></h4>
            <h5 class="time">{{comment.created_at | date:'yyyy-MM-dd HH:mm'}}</h5>
            <a (click)="edit(true)" title="Редактировать" *ngIf="comment.user_id == userId">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 48 48">
                    <path d="M40.5 0c4.142 0 7.5 3.358 7.5 7.5 0 1.688-0.558 3.246-1.5 4.5l-3 3-10.5-10.5 3-3c1.254-0.942 2.811-1.5 4.5-1.5zM3 34.5l-3 13.5 13.5-3 27.75-27.75-10.5-10.5-27.75 27.75zM33.543 17.043l-21 21-2.585-2.585 21-21 2.585 2.585z"></path>
                </svg>
            </a>
            <a (click)="delete()" title="Удалить" *ngIf="comment.user_id == userId || role == mainRole">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 48 48">
                    <path d="M9 48h30l3-33h-36zM30 6v-6h-12v6h-15v9l3-3h36l3 3v-9h-15zM27 6h-6v-3h6v3z"></path>
                </svg>
            </a>
        </div>
        <p *ngIf="!editMode">{{comment.body}}</p>
        <div *ngIf="editMode">
            <textarea [(ngModel)]="comment.body" (blur)="edit(false)" (keyup.enter)="edit(false)" class="form-control" rows="3"></textarea>
        </div>
    </div>
</div>