<div class="container">
    <div class="row row-border">
        <form class="col-xs-5" name="form" (ngSubmit)="login()" [formGroup]="loginForm" novalidate [@moveInLeft]="state">
            <h3 class="text-center">Авторизация</h3>
            <p class="auth-text">Авторизуйтесь при помощи логина 
                 и пароля от вашего аккаунта.</p>
            <alert type="danger" *ngIf="error">
                <strong>Oh snap!</strong> {{error}}
            </alert>
            <div class="form-group">
                <label>Электронная почта</label>
                <input type="text" [(ngModel)]="user.login" name="email" class="form-control" formControlName="login" placeholder="например, email@gmail.com">
                <span *ngIf="loginForm.controls['login'].invalid && loginForm.controls['login'].touched" class="help-block">
                Пожалуйста, заполните обязательные поле.
            </span>
            </div>
            <div class="form-group">
                <label>Пароль</label>
                <input type="password" [(ngModel)]="user.password" name="password" class="form-control" formControlName="password" placeholder="например, ••••••••••">
                <span *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched" class="help-block">
                Пожалуйста, заполните обязательные поле.
            </span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success" [disabled]="loginForm.invalid">Войти</button>
            </div>
        </form>
        <div class="auth-separator"></div>
        <div class="col-xs-5 pull-right" [@moveInLeft]="state">
            <h3 class="auth-headers">Нет аккаунта?</h3>
            <h3>Присоединяйтесь к нам!</h3>
            <button type="submit" class="btn btn-primary" [routerLink]="[ '/register']" >Зарегистрироваться</button>            
        </div>
    </div>
</div>
