<div class="container">
<div class="row">
    <form class="col-md-6 col-md-offset-3" name="form" (ngSubmit)="login()" [formGroup]="loginForm" novalidate [@moveInLeft]="state">
        <h3 class="text-center">Войти</h3>
        <alert type="danger" *ngIf="error">
    			<strong>Oh snap!</strong> {{error}}
    	</alert>
        <div class="form-group">
            <label>Электронная почта</label>
            <input type="text" [(ngModel)]="user.login" name="email" class="form-control"  formControlName="login" placeholder="">
            <span *ngIf="loginForm.controls['login'].invalid && loginForm.controls['login'].touched" class="help-block">
                Пожалуйста, заполните обязательные поле.
            </span>
        </div>
        <div class="form-group">
            <label>Пароль</label>
            <input type="password" [(ngModel)]="user.password" name="password" class="form-control" formControlName="password" placeholder="" >
            <span *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched" class="help-block">
                Пожалуйста, заполните обязательные поле.
            </span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default" [disabled]="loginForm.invalid">Войти</button>
        </div>
    </form>
</div>
</div>
