
<div class="row row-border">
    <div class="col-xs-2">
        <a  class="btn btn-danger btn-sm btn-block" role="button" (click)="showCreatedMessage('true')" >Написать </a>
        <hr />
        <ul class="nav nav-pills nav-stacked">
            <li [class.active]="show == 'recived'"><a (click)="showMessages('recived')"><span class="badge pull-right">{{recived?.length}}</span>Входящие </a></li>
            <li [class.active]="show == 'sended'"><a (click)="showMessages('sended')"><span class="badge pull-right">{{sended?.length}}</span>Исходящие </a></li>
        </ul>
    </div>
    <div class="col-xs-10">
 
        <!--<ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab">Новые</a></li>
            <li><a>Прочитаные</a></li>
            <li><a>Все</a></li>
        </ul>-->
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane fade in active"> 
                <div class="list-group">
                <message [message]="item" [show]="show" (addMessage)="addMessage($event)" (delMessage)="deleteMessages($event)" *ngFor="let item of showMessage | reverse"></message>
                </div>
            </div>
        </div>
    </div>
</div>
<create-message [message]="" (addMessage)="addMessage($event)" (hideCreateMessage)="showCreatedMessage($event)" *ngIf="showCreatedMessages"></create-message>
