table { 
    border: solid 1px #d1d5da;
}
.row {
  margin: 5px 0px 0px 0px;
}
.modal-dialog{
  margin: 110px auto;
}
.modal-sm{
  width: 500px;
}
.btn-delete{
  margin-top: 5px;
}
.modal-body{
  margin-bottom: 20px;
}
.row-border {
    position: relative;
    margin-top: 5px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 2px #ccd0d9;
}
h5{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}